@page
@model LibreriaJoelito.Pages.LogIn.RegistroModel
@{
    ViewData["OcultarSidebar"] = true;
}

<!-- REGISTER -->
<div class="register-container">

    <div class="register-card">

        <!-- FORM -->
        <div class="register-form">

            <h4>Crear Cuenta</h4>

            <input type="text" placeholder="Nombre">
            <input type="email" placeholder="Correo">
            <input type="password" placeholder="Contraseña">
            <input type="password" placeholder="Confirmar Contraseña">

                <div class="register-btn-container">
                    <button class="btn btn-sistema-danger">Registrarse</button>
                </div>

                <div class="volver-container">
                    <a href="/" class="btn btn-secondary">Volver al inicio</a>
                </div>

        </div>

        <!-- PANEL DERECHO -->
        <div class="register-info">
            <h3>Bienvenido</h3>
            <p>Regístrate para acceder al sistema de gestión.</p>
        </div>

    </div>

</div>