@page
@model LibreriaJoelito.Pages.Usuarios.EmpleadoCreateModel
@{
}

@if (TempData["CreateSucces"] != null)
{
    <div class="alert alert-danger">
        @TempData["CreateSucces"]
    </div>
}

<div class="form-container">
    <div class="form-header">
        Nuevo Empleado
    </div>

    <form method="post" id="modalCreateEmpleado">
        <div class="form-group">
            <label asp-for="Nombre"></label>
            <input asp-for="Nombre" class="form-control" placeholder="Ej:Juan" required />
            <span asp-validation-for="Nombre" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="ApellidoPaterno">Apellido Paterno</label>
            <input asp-for="ApellidoPaterno" placeholder="Ej:Perez" class="form-control" />
            <span asp-validation-for="ApellidoPaterno" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="ApellidoMaterno">Apellido Materno (Opcional)</label>
            <input asp-for="ApellidoMaterno" placeholder="Ej:Perez" class="form-control" />
            <span asp-validation-for="ApellidoMaterno" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Ci">Carnet de Identidad</label>
            <input asp-for="Ci" class="form-control" placeholder="Ej:12345678" required />
            <span asp-validation-for="Ci" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="ExtensionCi">Extensión Carne de Identidad (Opcional)</label>
            <input asp-for="ExtensionCi" class="form-control" placeholder="Ej:1A" />
            <span asp-validation-for="ExtensionCi" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control" type="email" placeholder="Ej:ejemplo@gmail.com"  required />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="DireccionDomicilio">Dirección Domicilio (Opcional)</label>
            <input asp-for="DireccionDomicilio" class="form-control" placeholder="Ej:Plaza 14 de septiembre N°123" />
            <span asp-validation-for="DireccionDomicilio" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Telefono">Teléfono (Opcional)</label>
            <input asp-for="Telefono" class="form-control" type="number" placeholder="Ej:77777777" />
            <span asp-validation-for="Telefono" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="FechaNacimiento">Fecha de Nacimiento</label>
            <input asp-for="FechaNacimiento" class="form-control" type="date" required />
            <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="FechaIngreso">Fecha Ingreso (Opcional)</label>
            <input asp-for="FechaIngreso" class="form-control" type="date" />
            <span asp-validation-for="FechaIngreso" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-sistema mt-2">Registrar Empleado</button>
        <a asp-page="EmpleadoGet" class="btn btn-cancelar mt-2">Volver</a>
    </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<script>
    var mensaje = "@Model.messageResult";
    if (mensaje) {
            var modal = new bootstrap.Modal(document.getElementById('alertModal'));
            modal.show();
        }
</script>