@page
@model IndexModel
@{
    ViewData["Title"] = "Inicio";
}

<img class="element" src="~/img/background-lib.png">

@section HeaderButtons {

    <a href="/LogIn/InicioSesion" class="btn-login">
        Iniciar sesión
    </a>

    <a href="/LogIn/Registro" class="btn-register">
        Registrarse
    </a>
}
<div class="center-text">

    <p class="texto-bienvenida">

        @if (User.Identity != null && User.Identity.IsAuthenticated)
        {
            <text>
                Bienvenido al Sistema de Gestión de la Librería Joelito, @User.Identity.Name
            </text>
        }
        else
        {
            <text>
                Bienvenido al Sistema de Gestión de la Librería Joelito
            </text>
        }

    </p>

    <p class="mensaje-inicio">

        @if (User.Identity != null && User.Identity.IsAuthenticated)
        {
            <text>Seleccione una opción del menú para comenzar</text>
        }
        else
        {
            <text>Por favor inicie sesión o regístrese</text>
        }

    </p>

</div>