@page
@model IndexModel

@{
    ViewData["Title"] = "Inicio";
}

<div class="sistema-de-gestion">

    <div class="overlap-group">

        <div class="group-3"></div>

        <div class="header-text">
            <div class="librer-a-joelito">LIBRERÍA JOELITO</div>
            <div class="sistema-de-gesti-n">Sistema De Gestión De La Librería</div>
        </div>

    </div>

    <div class="main-container">

        <div class="rectangle">

            <div class="menu-item active">
                <img class="menu-icon" src="~/img/home-lib.svg">
                <div class="menu-text">Inicio</div>
            </div>

            <div class="menu-item">
                <img class="menu-icon" src="~/img/prod-lib.svg">
                <div class="menu-text">Productos</div>
            </div>

            <div class="menu-item">
                <img class="menu-icon" src="~/img/emp-lib.svg">
                <div class="menu-text">Empleados</div>
            </div>

            <div class="menu-item">
                <img class="menu-icon" src="~/img/cli-lib.svg">
                <div class="menu-text">Clientes</div>
            </div>

            <div class="menu-item">
                <img class="menu-icon" src="~/img/config-lib.svg">
                <div class="menu-text">Configuración</div>
            </div>

        </div>

        <div class="content-area">

            <img class="element" src="~/img/background-lib.png">

            <div class="center-text">

                <p class="bienvenido-al">
                    Bienvenido Al Sistema De Gestión De La Librería Joelito
                </p>

                <p class="seleccione-una-opci">
                    Seleccione Una Opción Del Menú Para Comenzar
                </p>

            </div>

        </div>

    </div>

</div></div>