@page
@model IndexModel

@{
    ViewData["Title"] = "Inicio";
}

<div class="sistema-de-gestion">

        <div class="content-area">

            <img class="element" src="~/img/background-lib.png">

            <div class="center-text">

                <p class="bienvenido-al">
                    Bienvenido Al Sistema De Gestión De La Librería Joelito
                </p>

                <p class="seleccione-una-opci">
                    Seleccione Una Opción Del Menú Para Comenzar
                </p>

            </div>

        </div>


</div>
