@page
@model LibreriaJoelito.Pages.Empleados.EmpleadoCreateModel
@{
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}
else if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}

<div class="form-container">
    <div class="form-header">
        Nuevo Empleado
    </div>

    <form method="post" id="modalCreateEmpleado">
        <div class="form-group">
            <label asp-for="Nombre"></label>
            <input asp-for="Nombre" class="form-control" placeholder="Ej:Juan" required />
            <span asp-validation-for="Nombre" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="ApellidoPaterno"></label>
            <input asp-for="ApellidoPaterno" placeholder="Ej:Perez" class="form-control" />
            <span asp-validation-for="ApellidoPaterno" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="ApellidoMaterno"></label>
            <input asp-for="ApellidoMaterno" placeholder="Ej:Perez" class="form-control" />
            <span asp-validation-for="ApellidoMaterno" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Ci"></label>
            <input asp-for="Ci" class="form-control" placeholder="Ej:12345678" required />
            <span asp-validation-for="Ci" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="ExtensionCi"></label>
            <input asp-for="ExtensionCi" class="form-control" placeholder="Ej:1A" />
            <span asp-validation-for="ExtensionCi" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control" type="email" placeholder="Ej:ejemplo@gmail.com"  required />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="DireccionDomicilio"></label>
            <input asp-for="DireccionDomicilio" class="form-control" placeholder="Ej:Plaza 14 de septiembre N°123" />
            <span asp-validation-for="DireccionDomicilio" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Telefono"></label>
            <input asp-for="Telefono" class="form-control" type="number" placeholder="Ej:77777777" />
            <span asp-validation-for="Telefono" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="FechaNacimiento"></label>
            <input asp-for="FechaNacimiento" class="form-control" type="date" required />
            <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="FechaIngreso"></label>
            <input asp-for="FechaIngreso" class="form-control" type="date" />
            <span asp-validation-for="FechaIngreso" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary mt-2">Guardar</button>
        <a asp-page="EmpleadoGet" class="btn btn-secondary mt-2">Volver</a>
    </form>
</div>
<script>
    function enviarInsert() {
        const formData = new FormData(document.querySelector("#modalCreateEmpleado"));

        fetch('?handler=Insert', {
            method: 'POST',
            body: formData,
            headers: {
                "RequestVerificationToken": document.querySelector('input[name="__RequestVerificationToken"]').value
            }
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                location.reload();
            } else {
                const alerta = document.getElementById('alertaErrorModal');
                console.log(data);
                alerta.textContent = data.message;
                alerta.style.display = 'block';
            }
        })
        .catch(error => console.error('Error:', error));
    }
</script>