<!DOCTYPE html>
<html>
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8" />

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/css/globals.css" />
    <link rel="stylesheet" href="~/css/style.css" />

    <title>@ViewData["Title"]</title>

</head>

<body>

    <div class="sistema-de-gestion">

        <!-- HEADER -->

        <header class="main-header">

            <div class="header-left">

                <div class="logo"></div>

                <div class="header-text">

                    <div class="titulo-sistema">
                        LIBRERÍA JOELITO
                    </div>

                    <div class="subtitulo-sistema">
                        Sistema de Gestión de Librería
                    </div>

                </div>

            </div>

<<<<<<< HEAD
            <div class="header-right">

                @RenderSection("HeaderButtons", required: false)

            </div>

        </header>

=======
        </div>
>>>>>>> e3d69b878ce42cd927ae361bdf7f5033cb49afce

        <!-- CONTENEDOR PRINCIPAL -->

        <div class="main-container">

            <!-- SIDEBAR -->

<<<<<<< HEAD
            <aside class="sidebar">

                <a href="/Index" class="menu-item active">

                    <img class="menu-icon" src="~/img/home-lib.svg">

                    <span>Inicio</span>

                </a>

=======

            <div class="rectangle">
>>>>>>> e3d69b878ce42cd927ae361bdf7f5033cb49afce

                <!-- INICIO -->

<<<<<<< HEAD
                    <img class="menu-icon" src="~/img/prod-lib.svg">

                    <span>Productos</span>

                </a>


                <a href="/Clientes/ClientesGet" class="menu-item">

                    <img class="menu-icon" src="~/img/cli-lib.svg">

                    <span>Clientes</span>

                </a>


                <a href="/EmpleadoGet" class="menu-item">

                    <img class="menu-icon" src="~/img/emp-lib.svg">

                    <span>Empleados</span>

                </a>

                <a href="/Ventas" class="menu-item">

                    <img class="menu-icon" src="~/img/ventas-lib.svg">

                    <span>Ventas</span>

                </a>

                <a href="/Ventas" class="menu-item">

                    <img class="menu-icon" src="~/img/marca-lib.svg">

                    <span>Marcas Disponibles</span>

                </a>

                <a href="/Categoria" class="menu-item">

                    <img class="menu-icon" src="~/img/categoria-lib.svg">

                    <span>Categoría</span>

                </a>

                <a href="/Configuracion" class="menu-item">

                    <img class="menu-icon" src="~/img/config-lib.svg">

                    <span>Configuración</span>

                </a> 


            </aside>


            <!-- CONTENIDO -->

            <main class="content-area">
=======
                <a href="/Index" class="menu-item active">

                    <img class="menu-icon" src="~/img/home-lib.svg">

                    <div class="menu-text">Inicio</div>

                </a>


                <!-- PRODUCTOS -->

                <a href="/Productos/MostrarProductos" class="menu-item">

                    <img class="menu-icon" src="~/img/prod-lib.svg">

                    <div class="menu-text">Productos</div>

                </a>


                <!-- CLIENTES -->

                <a href="/Clientes/ClientesGet" class="menu-item">

                    <img class="menu-icon" src="~/img/cli-lib.svg">

                    <div class="menu-text">Clientes</div>

                </a>


                <!-- EMPLEADOS -->

                <a href="/Empleados/EmpleadoGet" class="menu-item">

                    <img class="menu-icon" src="~/img/emp-lib.svg">

                    <div class="menu-text">Empleados</div>

                </a>


                <!-- CONFIGURACION -->

                <a href="/Configuracion" class="menu-item">

                    <img class="menu-icon" src="~/img/config-lib.svg">

                    <div class="menu-text">Configuración</div>

                </a>

            </div>

            <!-- AREA CENTRAL -->
            <div class="content-area">
>>>>>>> e3d69b878ce42cd927ae361bdf7f5033cb49afce

                @RenderBody()

            </main>

        </div>

    </div>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>